.features__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 1;
    text-align: center;
}

.features__titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 600;
}

.features__eyebrow {
    color: #4338ca;
    font-size: 16px;
    line-height: 24px;
}

.features__title {
    color: #171717;
    font-size: 30px;
    line-height: 36px;
}

.features__description {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

@media (min-width: 768px) {
    .features__header {
        margin-bottom: 64px;
    }

    .features__title {
        font-size: 48px;
        line-height: 48px;
    }

    .features__description {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .features__header {
        grid-column: 1 / -1;
        order: 1;
        margin: 0;
        padding: 0 160px;
    }

    .features__titles {
        padding: 0 40px;
    }
}
