.features__content {
    order: 3;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: 768px) {
    .features__content {
        margin-bottom: 48px;
    }

    .features[data-image-position="left"] .features__content {
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {
    .features__content {
        grid-column: 1 / 2;
        order: 2;
        margin: 0;
    }

    .features[data-image-position="left"] .features__content {
        grid-column: 2 / 3;
        order: 3;
    }
}
