.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(168deg, #f9fafb 0%, #d2d6db 100%);
    padding: 16px;
}

.features {
    flex: 1;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: 48px 12px;
    display: grid;
    align-content: start;
    gap: 48px 16px;
    grid-template-columns: minmax(0, 4fr);
}

.features__header,
.features__content,
.features__image {
    grid-column: 1 / -1;
}

.features__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.features__titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 600;
}

.features__eyebrow {
    font-size: 16px;
    line-height: 24px;
    color: #4338ca;
}

.features__title {
    font-size: 30px;
    line-height: 36px;
    color: #171717;
}

.features__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #525252;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.features__item {
    display: flex;
    gap: 20px;
}

.features__item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 0;
}

.features__item::before {
    content: "";
    display: block;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.06), 0px 1px 3px 0 rgb(0 0 0 / 0.10);
}

.features__item--hd::before {
    background-image: url("./assets/icons/hd.svg");
}

.features__item--water::before {
    background-image: url("./assets/icons/water.svg");
}

.features__item--portrait::before {
    background-image: url("./assets/icons/poratraitOrLandscape.svg");
}

.features__item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #171717;
}

.features__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
}

.features__image {
    width: 100%;
    object-fit: cover;
    box-shadow:
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}


@media (min-width: 768px) {
    .features {
        padding: 64px 16px;
        grid-template-columns: minmax(0, 6fr);
        border-radius: 6px;
        gap: 0 32px;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.06), 0px 4px 6px -1px rgb(0 0 0 / 0.10);
    }

    .features__header,
    .features__content,
    .features__image {
        grid-column: 1 / -1;
    }

    .features__header {
        margin-bottom: 64px;
    }

    .features__title {
        font-size: 48px;
        line-height: 48px;
    }

    .features__description {
        font-size: 20px;
    }
    
    .features__content {
        margin-bottom: 48px;
    }
}

@media (min-width: 1440px) {
    .features {
        padding: 96px;
        grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
        gap: 64px 32px;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.06), 0px 4px 6px -1px rgb(0 0 0 / 0.10);
    }

    .features__header {
        grid-column: 1 / -1;
        margin: 0;
    }

    .features__content {
        grid-column: 1 / 2;
        margin: 0;
    }

    .features__image {
        grid-column: 2 / 3;
    }

    .features__title {
        font-size: 48px;
        line-height: 48px;
    }

    .features__description {
        font-size: 20px;
    }
}
