.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(168deg, #f9fafb 0%, #d2d6db 100%);
    padding: 16px;
}

.features {
    flex: 1;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: 48px 12px;
    display: grid;
    align-content: start;
    gap: 48px 16px;
    grid-template-columns: minmax(0, 4fr);
}

.features__header {
    column-span: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features__titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.features__content {
    column-span: 4;
}

.features__image-frame {
    column-span: 4;
    width: 100%;
}

.features__image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    box-shadow:
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
